.queue-container{
    width:100%;
    height:35%;
    border-radius: 30px;
    border-top-right-radius: 0px;
    opacity: 1;
    background-image: repeating-radial-gradient(
        circle at 0 0,
        transparent 0,
        #3e61d2 40px
    ),repeating-linear-gradient(#4767d055,#4767d0);
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
   
    
}
.queue{
    height:85%;
    flex-direction: column;
    width:80%;
    justify-content: space-between;
}
.upNext{
    font-size: 20px;
    font-weight: 700;
    color:#fff;
    text-align: left;
    margin: 10px 0px;
   
}
.queue-list{
    height:80%;
    overflow-y:auto ;
    width:100%
}
.track-name{
    width:75%;
    text-overflow: ellipsis;
}
.queue-item{
    justify-content: space-between;
    width:100%;
    padding: 4px 0px;
    font-size: 15px;
    font-weight: 500;
    color:white;
    cursor: pointer;
    transition: all 0.2s ease;
}
.queue-item:hover{
    transform:scale(0.95);
}

.queue-item p{
    margin:0px;
}